@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-pink-100: hsl(321, 100%, 78%);
  --color-pink-200: hsl(322, 100%, 66%);
  --color-pink-opaque: hsla(322, 100%, 66%, 0.2188);
  --color-red: hsl(0, 100%, 63%);
  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-200: hsl(207, 100%, 98%);
  --color-neutral-300: hsl(208, 12%, 55%);
  --color-neutral-400: hsl(192, 100%, 9%);
  --color-neutral-opaque: hsla(192, 100%, 9%, 0.2231);

  --font-family-default: "Open Sans", sans-serif;
  --font-family-secondary: "Poppins", sans-serif;

  --font-size-100: 0.75rem;
  --font-size-200: 0.875rem;
  --font-size-300: 1rem;
  --font-size-400: 1.25rem;
  --font-size-500: 1.5rem;
  --font-size-600: 2.5rem;
  --font-size-700: 3rem;

  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-regular: 400;

  --border-round: 0.375rem;
  --border-pill: 999rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-default);
  font-size: var(--font-size-200);
  line-height: 1.5;
  color: var(--color-neutral-400);
  background-color: var(--color-neutral-100);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-secondary);
}

button {
  font: inherit;
}

.button {
  --width: 12.5rem;
  display: block;
  max-width: var(--width);
  min-width: fit-content;
  width: 100%;
  padding-block: 0.75rem;
  font-size: var(--font-size-100);
  font-weight: var(--font-weight-bold);
  text-align: center;
  color: var(--color-neutral-100);
  background-color: var(--color-pink-200);
  border-radius: var(--border-pill);
  transition: background-color 300ms ease;
}

.button:hover {
  background-color: var(--color-pink-100);
}

.button--outline {
  --width: 5rem;
  padding-block: 0.25rem;
  font-size: 0.625rem;
  font-weight: var(--font-weight-regular);
  line-height: 1.4;
  color: var(--color-pink-200);
  background-color: var(--color-neutral-100);
  border: 1px solid var(--color-pink-200);
  box-shadow: 0 0 5px 0 var(--color-pink-opaque);
  transition: color 300ms ease, background-color 200ms 100ms ease;
}

.button:hover.button--outline {
  color: var(--color-pink-100);
  background-color: var(--color-neutral-100);
  border-color: var(--color-pink-100);
}

.button--form {
  --width: 10rem;
  padding-block: 0.75rem;
  font-size: var(--font-size-300);
  border: none;
  border-radius: calc(var(--border-pill) - 1px);
}

@media only screen and (min-width: 1024px) {
  .button {
    --width: 25rem;
    padding-block: 1.625rem;
    font-size: var(--font-size-400);
  }

  .button--outline {
    --width: 8.5rem;
    padding-block: 0.5rem;
    font-size: var(--font-size-300);
    line-height: 1.375;
  }
}

.header {
  padding: 1.5rem;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: inline-block;
  width: 6rem;
  height: 1rem;
  background-image: url("./images/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

@media only screen and (min-width: 1024px) {
  .header {
    padding-top: 4.875rem;
  }

  .header__nav {
    margin-inline: auto;
    padding-inline: 2.375rem;
    max-width: 85.875rem;
  }

  .header__logo {
    width: 15rem;
    height: 2.375rem;
  }
}

.hero {
  margin-top: 5.5rem;
  margin-inline: auto;
  padding-inline: 2.5rem;
  max-width: 68.625rem;
}

.hero .content-container {
  margin-bottom: 6.5rem;
}

.hero .content-container .text-container {
  margin-bottom: 3rem;
  text-align: center;
}

.hero .content-container .text-container h1 {
  margin-bottom: 1.5rem;
  font-size: var(--font-size-500);
}

.hero .content-container .button {
  margin-inline: auto;
}

.hero .image-container img {
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  .hero .content-container {
    margin-bottom: 7.5rem;
  }

  .hero .content-container .text-container h1 {
    margin-right: 3px;
    margin-bottom: calc(1.5rem + 2px);
    font-size: var(--font-size-700);
  }

  .hero .content-container .text-container p {
    margin-inline: auto;
    max-width: 37.5rem;
    font-size: var(--font-size-400);
  }
}

.stats {
  display: flex;
  justify-content: space-between;
  gap: 5.5rem;
  margin-inline: auto;
  padding-top: 7.5rem;
  padding-inline: 1.5rem;
  max-width: 58rem;
}

.stats__item {
  position: relative;
  text-align: center;
}

.stats__img {
  --dim: 2.25rem;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  bottom: calc(100% - 0.875rem);
  left: 0;
  width: var(--dim);
  height: var(--dim);
}

.stats__img img {
  width: 100%;
}

.stats__number {
  margin-bottom: 2px;
  font-size: clamp(3.75rem, 0rem + 9.375vw, 6rem);
  font-weight: var(--font-weight-bold);
}

.stats__description {
  font-family: var(--font-family-default);
  font-size: clamp(1, 0.167rem + 2.083vw, 1.5rem);
  font-weight: var(--font-weight-regular);
  color: var(--color-neutral-300);
}

@media screen and (max-width: 1023px) {
  .stats {
    flex-direction: column;
    align-items: center;
  }

  .stats__item {
    max-width: fit-content;
  }
}

@media screen and (min-width: 1024px) {
  .stats {
    padding-block: 10rem 7.375rem;
  }

  .stats__img {
    --dim: 3.5rem;
  }
}

.feature-panel {
  margin-block: 12.5rem;
  padding-inline: 1.75rem;
}

.feature-panel:nth-child(odd) {
  position: relative;
  background-color: var(--color-neutral-200);
}

.feature-panel .curve {
  position: absolute;
  left: 0;
  width: 100%;
}

.feature-panel .curve img {
  vertical-align: middle;
  width: 100%;
}

.feature-panel .curve--top {
  bottom: 100%;
}

.feature-panel .curve--bottom {
  top: 100%;
}

.feature-panel .curve.desktop {
  display: none;
}

@media only screen and (min-width: 640px) {
  .feature-panel .curve.mobile {
    display: none;
  }

  .feature-panel .curve.desktop {
    display: block;
  }
}

.feature-panel .split-panel-media-container {
  --dim: 17.5rem;
  display: flex;
  align-items: center;
  margin-inline: auto;
  max-width: var(--dim);
  height: var(--dim);
}

.feature-panel .split-panel-media-container img {
  width: 100%;
}

.feature-panel .split-panel-solid .text-container {
  margin-top: 2.5rem;
  margin-inline: auto;
  max-width: 32.5rem;
  text-align: center;
}

.feature-panel .split-panel-solid .text-container h2 {
  margin-bottom: 1rem;
  font-size: clamp(
    var(--font-size-400),
    -0.833rem + 5.208vw,
    var(--font-size-600)
  );
}

@media only screen and (min-width: 1024px) {
  .feature-panel {
    margin-block: 11.25rem;
  }

  .feature-panel__container {
    display: flex;
    align-items: center;
    column-gap: 7.5rem;
    margin-inline: auto;
    max-width: 75rem;
  }

  .feature-panel:nth-child(odd) .feature-panel__container {
    flex-direction: row-reverse;
    column-gap: 6.25rem;
    max-width: 73.75rem;
  }

  .feature-panel .split-panel-media-container {
    --dim: 35rem;
  }

  .feature-panel .split-panel-solid {
    flex: 1;
  }

  .feature-panel .split-panel-solid .text-container {
    text-align: left;
  }

  .feature-panel .split-panel-solid .text-container p {
    font-size: var(--font-size-300);
  }
}

.cta {
  margin-block: 17.5rem 22.5rem;
  padding-inline: 1.5rem;
  text-align: center;
}

.cta h2 {
  margin-bottom: 2.5rem;
  font-size: clamp(
    var(--font-size-500),
    -0.167rem + 4.167vw,
    var(--font-size-600)
  );
}

.cta .button {
  margin-inline: auto;
}
