@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-pink-100: hsl(321, 100%, 78%);
  --color-pink-200: hsl(322, 100%, 66%);
  --color-red: hsl(0, 100%, 63%);
  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-200: hsl(207, 100%, 98%);
  --color-neutral-300: hsl(192, 100%, 9%);

  --font-family-default: "Open Sans", sans-serif;
  --font-family-secondary: "Poppins", sans-serif;

  --font-size-100: 0.75rem;
  --font-size-200: 0.875rem;
  --font-size-300: 1rem;
  --font-size-400: 1.25rem;
  --font-size-500: 1.5rem;
  --font-size-600: 2.5rem;
  --font-size-700: 3rem;

  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-regular: 400;

  --border-round: 0.375rem;
  --border-pill: 999rem;
}

body {
  font-family: var(--font-family-default);
  font-size: var(--font-size-200);
  line-height: 1.5;
  color: var(--color-neutral-300);
  background-color: var(--color-neutral-100);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-secondary);
}

button {
  font: inherit;
}

.button {
  --width: 2.5rem;
  --height: 12.5rem;
  display: block;
  max-width: var(--width);
  min-width: fit-content;
  width: 100%;
  height: var(--height);
  padding-block: 0.75rem;
  font-size: var(--font-size-100);
  font-weight: var(--font-weight-bold);
  text-align: center;
  color: var(--color-neutral-100);
  background-color: var(--color-pink-200);
  border-radius: var(--border-pill);
  transition: background-color 300ms ease;
}

.button:hover {
  background-color: var(--color-pink-100);
}

.button--outline {
  --width: 5rem;
  --height: 1.5rem;
  padding-block: calc(0.375rem - 1px);
  font-size: 0.625rem;
  font-weight: var(--font-weight-regular);
  line-height: 1.4;
  color: var(--color-pink-200);
  background-color: var(--color-neutral-100);
  border: 1px solid var(--color-pink-200);
  box-shadow: 0 0 5px 0 hsla(322, 100, 66, 0.2188);
  transition: color 300ms ease, background-color 200ms 100ms ease;
}

.button:hover.button--outline {
  color: var(--color-pink-100);
  background-color: var(--color-neutral-100);
  border-color: var(--color-pink-100);
}

.button--form {
  --width: 10rem;
  --height: 3rem;
  padding-block: 0.75rem;
  font-size: var(--font-size-300);
  border: none;
  border-radius: calc(var(--border-pill) - 1px);
}

@media only screen and (min-width: 1024px) {
  .button {
    --width: calc(var(--width) * 2);
    --height: calc(var(--height) * 2);
    padding-block: 1.625rem;
    font-size: var(--font-size-400);
  }

  .button--outline {
    font-size: var(--font-size-300);
    line-height: 1.375;
  }
}
